.reveal img.small-logo {
    max-width: 300px;
    max-height: 200px;
}

.reveal h1 {
   color: #fff;
}

.reveal .col {
    flex: 1 1 0;
    padding-right: 40px;
    text-align: left;
}

.reveal .flex {
    display: flex;
}

.reveal .no-list-style-type {
  list-style-type: none;
}

.reveal .facilities-icon-container {
    color: #00539F;
    width: 80px;
    text-align: center;
    display: inline-block;
}

.reveal *:not(pre)>code {
    color: #900;
}

.reveal .emblem {
  right: 30px;
  position: absolute;
  top: 0;
  width: 100px;
}

.reveal .col pre {
    margin: 0;
    width: 100%;
}

.reveal .emblem {
  right: 30px;
  position: absolute;
  top: 0;
  width: 100px;
}

.reveal .pin-max-height {
    max-height: 550px;
}
